auto-save-list
elpa
projectile-bookmarks.eld
projectile.cache
recentf
bookmarks
*.html
config.el
undo
.cache
custom.el
tramp
amx-items
backups
savehist
org-clock-save.el
server
straight
url
.org-id-locations
org-caldav-*
transient
.lsp-session-v1
org-journal.cache
.pcmm
elpy
.cask
